<div class="row mb-5">
    <div class="col col-md-6">
        <div class="card">
            <div class="card-header text-white bg-primary mb-3">
              <h2>Bem Vindo {{ usuarioLogado?.primeiroNome }} {{usuarioLogado?.segundoNome}}</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title">Seu saldo atual: {{conta?.saldo | real }}</h5>
            </div>
        </div>
    </div>

    <div class="col col-md-3">
        <div class="card">
            <div class="card-header">
                <h4>Realizar Deposito</h4>
            </div>
            <div class="card-body">
                <a class="btn btn-primary" (click)="deposito()">Depositar</a>
            </div>
        </div>
    </div>

    <div class="col col-md-3">
        <div class="card">
            <div class="card-header">
                <h4>Realizar Saque</h4>
            </div>
            <div class="card-body">
                <a class="btn btn-primary" (click)="saque()">Sacar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-md-8">
        <div class="card">
            <div class="card-header text-white bg-primary mb-3">
                <h4>Transações</h4>
            </div>
            <div class="card-body">
                <table class="table table-small">
                    <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Saldo Inicial</th>
                            <th scope="col">Movimentação</th>
                            <th scope="col">Saldo Final</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let t of transacoes; index as i" [ngClass]="{
                            'table-danger': t.descricao === TransacaoEnum.SAQUE,
                            'table-success': t.descricao === TransacaoEnum.DEPOSITO
                        }">
                            <td>{{t.data | date:'medium'}}</td>
                            <td>{{ t.descricao }} </td>
                            <td>{{ t.saldoInicial | real }}</td>
                            <td>
                                <span [hidden]="t.descricao !== TransacaoEnum.SAQUE">-</span>
                                <span [hidden]="t.descricao !== TransacaoEnum.DEPOSITO">+</span>
                                {{ t.quantia | real }}</td>
                            <td>{{ t.saldoFinal | real }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
